/* здесь используйте глобальные селекторы img, body, html и так далее */
*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
  font-family: $primary-font;
  font-size: 14px;
  line-height: 18px;
  color: $special_dark-grey;
  margin: 0 auto;
}

