.benefits {
  padding: 20px 20px 55px;

  @media (min-width: $tablet-width) {
    padding: 45px 109px 92px 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 71px 106px 69px 110px;
  }
}

.benefits__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  font-weight: 400;
  margin: 0;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 32px;
  }
}

.benefits__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 26px;


  @media (min-width: $tablet-width) {
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 37px;
    counter-reset: benefit 0;
  }
}


.benefits__item {
  position: relative;
  width: 280px;
  padding-left: 80px;


  @media (min-width: $tablet-width) {
    max-width: 250px;
    min-height: 280px;
    counter-increment: benefit 1;
    padding-top: 151px;
    padding-left: 0;
  }
}

.benefits__item::after {
  @media (min-width: $tablet-width) {
    background-repeat: no-repeat;
    font-family: $secondary-font;
    font-size: 280px;
    line-height: 280px;
    position: absolute;
    top: 0;
    left: 115px;
    content: counter(benefit);
    z-index: -1;
    color: $basic_grey;
  }
}

.benefits__item::before {
  content: "";
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  position: absolute;
  left: 0;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
    top: 40px;
    left: 0;
  }
}

.benefits__item--leaf::before {
  background-image: url("../../icons/stack.svg#icon-leaf");
}

.benefits__item--powder::before {
  background-image: url("../../icons/stack.svg#icon-powder");
}

.benefits__item--cutlery::before {
  background-image: url("../../icons/stack.svg#icon-cutlery");
}

.benefits__item--watch::before {
  background-image: url("../../icons/stack.svg#icon-watch");
}


.benefits__item-description {
  margin: 0;


  @media (min-width: $tablet-width) {
    padding-left: 0;
    font-size: 16px;
    line-height: 24px;
  }
}
