// .benefits {

// }

.benefits__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
}

.benefits__list {
  list-style-type: none;
}

// .benefits__item {

// }

// .benefits__item-description {

// }
