.button {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: $brand_green;
  text-decoration: none;
  text-transform: uppercase;
  width: 280px;
  height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  border: none;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(255, 255, 255, 0.4);
  }
}
