.catalog {
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    padding: 0 30px 74px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px 71px;
  }
}

.catalog__wrapper {
  display: grid;


  @media (min-width: $tablet-width) {
    grid-template-columns: 324px 324px;
    gap: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 245px);
    gap: 63px 80px;
  }
}

.catalog__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  font-weight: 400;
  margin: 0;
  margin-bottom: 41px;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 84px;
    padding: 0;
  }
}
