// .cooperation {

// }

// .cooperation__container {

// }

.cooperation__container-text {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
}

.cooperation__container-street {
  font-size: 14px;
  line-height: 20px;
}

.cooperation__container-city {
  font-size: 14px;
  line-height: 20px;
}
