.cooperation {
  display: flex;
  justify-content: space-between;
  padding: 26px 20px;

  @media (min-width: $tablet-width) {
    padding: 60px 70px;
  }

  @media (min-width: $desktop-width) {
    width: 565px;
    height: 199px;
    align-items: center;
    padding: 60px 80px;
  }
}


// .cooperation__container {

// }

.cooperation__title {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
}

.cooperation__container-street {
  font-size: 14px;
  line-height: 20px;
}

.cooperation__container-city {
  font-size: 14px;
  line-height: 20px;
}
