.footer {
  background-color: $basic_grey;
}

// .footer__container {

// }

// .footer__social {

// }

.footer__copyright {
  text-decoration: none;
  color: $special_dark-grey;
}

// .footer__copyright-text {

// }

.footer__copyright-logo {
  font-size: 16px;
  line-height: 20px;
}
