.main-description {
  color: #ffffff;
  background-color: $basic_green;
  font-family: $secondary-font;
}

.main-description__title {
  font-size: 36px;
  line-height: 36px;
}

.main-description__text {
  font-size: 14px;
  line-height: 14px;
}

// .main-description__image {

// }

// .main-description__button {

// }
