.main-description {
  color: #ffffff;
  text-align: center;
  font-family: $secondary-font;
  position: relative;
}

.main-description::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 302px;
  background-color: #62a63a;
  top: 0;
  left: 0;
  z-index: -2;

  @media (min-width: $tablet-width) {
    background-color: inherit;
  }

  @media (min-width: $desktop-width) {
    content: "";
    position: absolute;
    width: 50%;
    height: 694px;
    background-color: #62a63a;
    top: -188px;
    left: 50%;
    z-index: -2;
  }
}


.main-description__wrapper {
  width: $mobile-width;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  padding-top: 27px;
  margin: 0 auto;
  position: relative;


  @media (min-width: $tablet-width) {
    width: $tablet-width;
    color: #000000;
    background-image: none;
    align-items: flex-start;
    padding-bottom: 0;
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 54px auto;
    padding-bottom: 120px;
  }
}

.main-description__wrapper::after {
  @media (min-resolution: 2dppx) {
    background-image: url("../../images/background-main-image-mobile@2x.png");
  }
  content: "";
  position: absolute;
  background-image: url("../../images/background-main-image-mobile@1x.png");
  background-size: cover;
  top: 0;
  left: 0;
  height: 302px;
  width: 320px;
  z-index: -1;

  @media (min-width: $tablet-width) {
    background-image: none;
  }

  @media (min-width: $desktop-width) {
    @media (min-resolution: 2dppx) {
      background-image: url("../../images/background-main-image-decktop@2x.png");
    }
    background-image: url("../../images/background-main-image-decktop@1x.png");
    content: "";
    background-repeat: no-repeat;
    background-size: cover;
    width: 720px;
    height: 684px;
    position: absolute;
    left: 719px;
    top: -181px;
    z-index: -1;
  }
}

.main-description__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 25px;
  width: 250px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 40px;
    text-align: start;
    padding-left: 120px;
    width: 700px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 190px;
    grid-column: 1 / 1;
  }
}

.main-description__text {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 50px;
    padding-left: 120px;
    text-align: start;
  }

  @media (min-width: $desktop-width) {
    padding-left: 190px;
    margin-bottom: 52px;
    grid-column: 1 / 2;
  }
}

.main-description__image-wrapper {
  @media (min-width: $tablet-width) {
    order: 1;
    z-index: -1;
    margin-top: -86px;
    padding-left: 30px;
    padding-right: 30px;
    display: block;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
    grid-row: 1 / 5;
    padding: 0;
    margin-top: -50px;
    margin-left: -490px;
  }
}


.main-description__button {
  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
    width: 242px;
    height: 54px;
    padding-top: 14px;
    padding-bottom: 14px;
    margin-left: 120px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 190px;
    grid-column: 1 / 2;
  }
}
