.main-logo {
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 0 20px 15px;

  &:hover {

    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    padding: 0;
    margin-right: 94px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 543px;
  }
}

.main-logo__picture {
  margin-right: 56px;
  display: block;

  @media (min-width: $tablet-width) {
    margin-right: 13px;
  }
}

.main-logo__name-header {
  @media (min-width: $desktop-width) {
    width: 118px;
    height: 21px;
  }
}
