.main-description {
  color: #ffffff;
  background-color: $brand_green;
  font-family: $secondary-font;
  background-image: url("../../images/background-main-image-mobile@2x.png");
  background-repeat: no-repeat;
  background-size: 320px 302px;
}


.main-description__title {
  font-size: 36px;
  line-height: 36px;
}

.main-description__text {
  font-size: 14px;
  line-height: 14px;
}

// .main-description__image {

// }

// .main-description__button {

// }
