.map__image-wrapper img {
  display: block;
}

.map__image-wrapper--hidden {
  display: none;
}


.map__iframe {
  display: block;
  border: none;
  width: 100%;
  height: 362px;
  position: relative;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}
