// .navigation {

// }

.navigation__list {
  font-family: $secondary-font;
  line-height: 20px;
  font-size: 20px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.navigation__item {
  list-style-type: none;
}

// .navigation__item--current{

// }

.navigation__link {
  text-decoration: none;
  color: #000000;

  @media (min-width: $desktop-width) {
    color: #ffffff;
  }
}

.navigation__link--dark {
  @media (min-width: $desktop-width) {
    color: #000000;
  }
}

.navigation__button {
  background-image: url("../../icons/stack.svg#icon-burger");
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  border: none;
  background-color: inherit;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.navigation__button--close {
  background-image: url("../../icons/stack.svg#icon-cross-close");
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
