// .product-card-more {

// }

.product-card-more__title {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
}

.product-card-more__text {
  font-size: 12px;
  line-height: 16px;
}

.product-card-more__button {
  background-color: $basic_grey;
  color: $special_dark-grey;
}
