// .product-card-more {

// }

.product-card-more__title {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  position: relative;
}

.product-card-more__title::before {
  content: "";
  background-image: url("../../icons/stack.svg#icon-plus");
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.product-card-more__text {
  font-size: 12px;
  line-height: 16px;
}

.product-card-more__button {
  background-color: $basic_grey;
  color: $special_dark-grey;
}
