.product-card {
  padding: 20px 20px 25px;
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: auto auto 40px;
  position: relative;


  @media (min-width: $tablet-width) {
    width: 324px;
    padding: 10px 37px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    border: none;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    padding: 10px 38px 40px;
  }
}

.product-card::before {
  @media (max-width: $mobile-width-only) {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 1px;
    background-color: #ebebeb;
    box-shadow: 100vw 0 0 0 #ebebeb;
    z-index: -1;
  }
}

.product-card::after {
  @media (min-width: $tablet-width) {
    background-color: $basic_grey;
    content: "";
    position: absolute;
    width: 324px;
    height: 429px;
    bottom: 0;
    left: 0;
    z-index: -1;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    height: 432px;
  }
}

.product-card__link-image {
  text-decoration: none;
  grid-row: 1/3;

  @media (min-width: $tablet-width) {
    margin-bottom: 22px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 12px;
  }
}

.product-card__link-title {
  text-decoration: none;
  margin-bottom: 14px;
  grid-row: 1/2;

  @media (min-width: $tablet-width) {
    margin-bottom: 21px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 23px;
  }
}

.product-card__image {
  display: block;
}

.product-card__title {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  color: #222222;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
  width: 80px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    width: 135px;
    text-align: center;
  }
}

.product-card__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 21px;
  grid-row: 2/3;

  @media (min-width: $tablet-width) {
    margin-bottom: 37px;
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
    margin-bottom: 32px;
  }
}

.product-card__item {
  font-size: 12px;
  line-height: 16px;
  display: flex;
  justify-content: space-between;
  position: relative;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.product-card__item::after {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #cdcdcd;
    bottom: -5px;
    left: 0;
  }
}

.product-card__button {
  display: block;
  grid-row: 3/3;

  @media (min-width: $tablet-width) {
    width: 250px;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
  }
}
