// .programs {

// }

.programs__list {
  background-color: $basic_grey;
}

.programs__item {
  list-style-type: none;
}

.programs__item-title {
  font-family: $secondary-font;
  line-height: 37px;
  font-size: 24px;
  color: #000000;
}

// .programs__item-description {

// }

.programs__item-link {
  font-family: $secondary-font;
  line-height: 16px;
  font-size: 16px;
  text-decoration: none;
  color: #000000;
}
