// .programs {

// }

.programs__list {
  background-color: $basic_grey;
}

.programs__item {
  list-style-type: none;
  position: relative;
}

.programs__item::before {
  content: "";
  list-style-type: none;
  background-repeat: no-repeat;
  width: 50px;
  height: 53px;
  position: absolute;
  left: -30px;
  bottom: 100px;
}

.programs__item--slim::before {
  background-image: url("../../icons/stack.svg#icon-cat-slim");
}

.programs__item--pro::before {
  background-image: url("../../icons/stack.svg#icon-cat-pro");
  width: 67px;
  height: 50px;
}

.programs__item-title {
  font-family: $secondary-font;
  line-height: 37px;
  font-size: 24px;
  color: #000000;
}

// .programs__item-description {

// }

.programs__item-link {
  font-family: $secondary-font;
  line-height: 16px;
  font-size: 16px;
  text-decoration: none;
  color: #000000;
  position: relative;
}

.programs__item-link::after {
  content: "";
  background-image: url("../../icons/stack.svg#icon-arrow-right");
  background-repeat: no-repeat;
  width: 24px;
  height: 12px;
  position: absolute;
  left: 0;
  bottom: 0;
}
