.promo-wrapper {
  background-color: $brand_green;
  width: 280px;
  height: 290px;
  background-image: url("../../images/background-promo-image-mobile@1x.png");

  @media (min-resolution: 2dppx) {
    background-image: url("../../images/background-promo-image-mobile@2x.png");
  }
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 707px;
    height: 200px;
    top: 20px;
    right: 30px;
    background-image: url("../../images/background-promo-image-tablet@1x.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../../images/background-promo-image-tablet@2x.png");
    }
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    height: 288px;
    background-image: url("../../images/background-promo-image-decktop@1x.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../../images/background-promo-image-decktop@2x.png");
    }
  }
}

.promo-wrapper::before {
  content: "";
  background-image: url("../../icons/stack.svg#icon-gift");
  background-repeat: no-repeat;
  width: 78px;
  height: 80px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.promo-wrapper__text {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
