.results {
  background-color: #eaeaea;
}

.results__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
}

// .results__description {

// }

// .results__list {

// }

// .results__item {

// }

.results__number {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
}

.results__text {
  font-size: 12px;
  line-height: 12px;
}

.results__total {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

// .results__total-title {

// }

// .results__total-content {

// }

// .results__image {

// }
