.subscribe {
  font-family: $secondary-font;
}

.subscribe__title {
  font-size: 24px;
  line-height: 24px;
  color: #000000;
}

.subscribe__text {
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

// .subscribe__form {

// }

.subscribe__field {
  font-family: $secondary-font;
  font-size: 20px;
}

.subscribe__button {
  border: none;
}
