.subscribe {
  font-family: $secondary-font;
  display: flex;
  flex-direction: column;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 68px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
  }
}

.subscribe__title {
  font-size: 24px;
  line-height: 24px;
  color: #000000;
}

.subscribe__text {
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.subscribe__form {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.subscribe__field {
  font-family: $secondary-font;
  font-size: 20px;
}

.subscribe__button {
  border: none;
}
